@font-face {
  font-family: "Fud Grotesk";
  src: url("fonts/FudGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/SourceSansPro-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #212121;
  height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
}

main {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.navigation-wrapper {
  padding: 16px 16px 0px 16px;
}

.navbar {
  background: rgba(55, 55, 55, 0.6);
  padding: 16px 16px;
  border-radius: 16px;
  border: 1px solid #3c3c3c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Fud Grotesk", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-button {
  background: #ffc148;
  color: #212121;
  height: 44px;
  border: none;
  padding: 6px 32px;
  border-radius: 32px;
  cursor: pointer;
}

.nav-button > a {
  color: #212121;
  text-decoration: none;
}
.canvas-parent {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 100%; /* Maintain 1:1 aspect ratio */
  overflow: hidden;
}
#mainCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
}
.p5Canvas {
  border-radius: 16px !important;
}
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

canvas {
  border-radius: 16px !important;
}
.controls-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0px;
}

.button-wrapper {
  padding: 0px 0px 16px 0px;
  width: 100%;
}

#share-button {
  padding: 16px;
  border-radius: 16px;
  background-color: #ffc148;
  width: 100%;
}

/*gui*/

.custom-gui {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 16px;
  padding: 16px 16px 16px 16px;
  background-color: rgba(55, 55, 55, 0.6);
  border-radius: 16px;
  border: 1px solid #3c3c3c;
}

.gui-contents {
  display: flex;
  flex-direction: column;
}

.gui-headder {
  padding-bottom: 16px;
  font-size: 24px;
}

/*gui item*/

.gui-item-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  border-top: 1px solid #3c3c3c;
}

.gui-item-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  padding: 8px 0px;
  border-top: 1px solid #3c3c3c;
  gap: 8px;
}

#text {
  padding: 8px 12px;
  border-radius: 16px;
  width: 100%;
  border: 1px solid #3c3c3c;
  background: rgba(55, 55, 55, 0.6);
  color: white;
}

#color {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #3c3c3c;
  margin: 0;
}

@media (max-width: 1000px) {
  .content {
    flex-direction: column;
    padding: 16px;
  }
}

@media (min-width: 1001px) {
  .content {
    flex-direction: row-reverse;
    padding: 16px;
  }
  .canvas-parent {
    width: 100%;
    padding: 16px;
  }
  .controls-wrapper {
    width: 100%;
    gap: 8px;
  }
  .button-wrapper {
    padding: 0px;
  }
  canvas {
    border-radius: 16px;
  }
}
